
body {
    background-color: lightgrey;
    font-family: Arial, sans-serif;
    
}


.folla {
    background-color: grey;
   
}


h1 {
    color: red;
    text-align: center;
}


h2 {
    color: red;
    text-align: right;
}


h3 {
    color: red;
}


p {
    color: darkred;
}


hr {
    border: 1px solid lightgrey;
}


.contacto p {
    font-style: italic;
}
