
.dia-semana {
    background-color: #34495e; /* Azul oscuro */
    color: #ffffff; /* Texto blanco */
    font-weight: bold;
    text-align: center;
    padding: 12px;
}

.contdes {
    background-color: #ff9aa2; 
    color: #4a0005;
}


.bd {
    background-color: #ffb7b2;
    color: #521511;
}


.ingprof {
    background-color: #ffdac1; 
    color: #5c3514;
}


.lima {
    background-color: #e2f0cb; 
    color: #274005;
}


.itperempl {
    background-color: #b5ead7; 
    color: #0d4a33;
}


.sistinf {
    background-color: #c7ceea; 
    color: #222952;
}


.prog {
    background-color: #e0bbe4; 
    color: #360a3b;
}


.sustaplicsistprod {
    background-color: #fce4ec; 
    color: #5c0a28;
}



/* Recreo y Mediodía */
.recreo, .mediodia {
    background-color: #ecf0f1; 
    color: #7f8c8d; 
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}