/* Color del título superior principal */
.titulo-dam {
    background-color: #e6e6e6; /* Gris neutro claro */
}

/* Colores para cada Asignatura */
.cont-des {
    background-color: #ffcccc; /* Rojo / Coral muy claro */
}

.bd {
    background-color: #ffe5cc; /* Naranja / Melocotón suave */
}

.ing-prof {
    background-color: #ffffcc; /* Amarillo claro */
}

.lima {
    background-color: #ccffcc; /* Verde claro */
}

.it-per-empl {
    background-color: #ccf2ff; /* Azul claro / Celeste */
}

.sist-inf {
    background-color: #f2ccff; /* Morado / Lila suave */
}

.prog {
    background-color: #f5f5dc; /* Beige / Crema */
}

.sust-aplic {
    background-color: #ffccf2; /* Rosa claro */
}

/* Colores para los periodos de descanso */
.descanso {
    background-color: #f2f2f2; /* Gris muy suave para recreos y mediodía */
    font-style: italic;       
}
